
.inactive{
    background-color: rgba(193, 190, 193, 0.963);
    border-radius: 12px;
    margin: 2px;
}

.likeActive{
    background-color: lawngreen;
    border-radius: 12px;
    margin: 2px;
}

.dislikeActive{
    background-color: crimson;
    border-radius: 12px;
    margin: 2px;
}